.about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aboout_title{
    font-size: var(--size-2xl);
    color: var(--clr-white);
}
.about_description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-prussion-blue);
}
.about_subtitle{
    font-size: var(--size-sm);
    color: var(--clr-picton-blue);
}
.about_ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type:lower-greek;
    padding-left: 1em;

}
.about_list{
    font-size: var(--size-sm);
    color: var(--clr-white);
}
.social_image{
    width: 2.5rem;
    transition: all 0.7s ease;
}
.about_socials{
    display: flex;
    gap: 1.5rem;
    
}
.social_image:hover{
transform: scale(1.2);
}
@media(min-width: 475px){
    .about{
        
        gap: 2rem;
    }
    .about_content{
       
        gap: 1.5rem;
    }
    .aboout_title{
        font-size: var(--size-3xl);
        
    }
    .about_description{
        
        font-size: var(--size-base);
        
    }
    .about_subtitle{
        font-size: var(--size-base);
      
    }
   
    .about_list{
        font-size: var(--size-base);
        
    }
}
@media(min-width: 640px){
    .about_image_wrapper{
        margin: 0 auto;
    }
    .about_image{
        width: 28.6875rem;
    }
}

@media(min-width: 1024px){
    .about{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
    .social_image{
        width: 3rem;
    }
    .aboout_title{
        font-size: var(--size-4xl);
        
    }
    .about_description{
        
        font-size: var(--size-lg);
        
    }
    .about_subtitle{
        font-size: var(--size-lg);
      
    }
   
    .about_list{
        font-size: var(--size-lg);
        
    }
}
@media(min-width: 1280px){
    .aboout_title{
        font-size: var(--size-5xl);
        
    }
    .about_description{
        
        font-size: var(--size-xl);
        
    }
    .about_subtitle{
        font-size: var(--size-xl);
      
    }
   
    .about_list{
        font-size: var(--size-xl);
        
    }
    .about_content{
        gap: 2rem;
    }
    .about_image{
        width: 30.75rem;
    }
}
